@CHARSET "UTF-8";

.search-form {
	
}

.search-label-div {	
	border: 1px solid;
	float:none;
	width:100%;
}

.search-input-div {
	border: 1px solid;
	float:none;
	width:100%;
	margin-top: 5px;
}


.search-div {
	width: 30%;
	border: 1px solid;
	height: 100%;
	float:left;
	margin-left:10px
		
}

.keyword-input-text {
	font-size: 1.5em
}

#search-country select {	
	margin-top: 5px;
	width: 95%;
	font-size: 1.2em
}


